.git
.gitignore
.run
_deploy
branding-assets
jellyfin-android
jellyfin-androidtv
jellyfin-desktop
**/.run
**/build-out
**/bin
**/obj
**/TestResults
**/.vs
**/.vscode
**/node_modules
**/dist
npm-debug.log*
yarn-error.log*

# We deploy the web client to the Pi by copying a prebuilt dist into the build context.
!jellyfin-web/dist/
!jellyfin-web/dist/**
